@import '../../defaults'; // Global component defaults.

.navbar {
  height: 5.25rem;
  background: var(--bs-white);

  .form-inline {
    .form-actions {
      display: none;
    }
  }

  .navbar-nav {
    .nav-item {
      a.nav-link {
        position: relative;
        color: var(--bs-gray-900);
        font-weight: bold;

        &:hover,
        &:focus,
        &:active {
          color: var(--bs-primary) !important;

          &:after {
            position: absolute;
            right: 15% !important;
            bottom: 0;
            left: 15% !important;
            height: 1px;
            content: '';
            transition: left 0.3s;
            transition: right 0.3s;
            background-color: var(--bs-primary);
          }
        }

        &.is-active {
          &:after {
            position: absolute;
            right: 30%;
            bottom: 0;
            left: 30%;
            height: 1px;
            content: '';
            background-color: var(--bs-primary);
          }
        }
      }
    }
  }
}

[data-bs-theme='dark'] {
  .navbar {
    background: $blue-700;

    .navbar-nav {
      .nav-item {
        a.nav-link {
          position: relative;
          color: var(--bs-white);

          &:hover,
          &:focus,
          &:active {
            color: var(--bs-white) !important;

            &:after {
              position: absolute;
              right: 15% !important;
              bottom: 0;
              left: 15% !important;
              height: 1px;
              content: '';
              background-color: var(--bs-white);
            }
          }

          &.is-active {
            border-bottom: 1px var(--bs-white);
            &:after {
              position: absolute;
              right: 30%;
              bottom: 0;
              left: 30%;
              height: 1px;
              content: '';
              background-color: var(--bs-white);
            }
          }
        }
      }
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal {
  .toolbar-menu {
    &.nav {
      float: left;
    }
  }
}
