:root,
[data-bs-theme=light]{
  --bs-blue:#0d6efd;
  --bs-indigo:#6610f2;
  --bs-purple:#6f42c1;
  --bs-pink:#d63384;
  --bs-red:#dc3545;
  --bs-orange:#fd7e14;
  --bs-yellow:#ffc107;
  --bs-green:#198754;
  --bs-teal:#20c997;
  --bs-cyan:#0dcaf0;
  --bs-black:#000;
  --bs-white:#fff;
  --bs-gray:#6c757d;
  --bs-gray-dark:#343a40;
  --bs-gray-100:#f8f9fa;
  --bs-gray-200:#e9ecef;
  --bs-gray-300:#dee2e6;
  --bs-gray-400:#ced4da;
  --bs-gray-500:#adb5bd;
  --bs-gray-600:#6c757d;
  --bs-gray-700:#495057;
  --bs-gray-800:#343a40;
  --bs-gray-900:#212529;
  --bs-primary:#ffc72c;
  --bs-secondary:#0d2c54;
  --bs-success:#198754;
  --bs-info:#0dcaf0;
  --bs-warning:#ffc72c;
  --bs-danger:#dc3545;
  --bs-light:#f8f9fa;
  --bs-dark:#0d2c54;
  --bs-tertiary:#f7f9fa;
  --bs-accent:#0073e6;
  --bs-primary-rgb:255, 199, 44;
  --bs-secondary-rgb:13, 44, 84;
  --bs-success-rgb:25, 135, 84;
  --bs-info-rgb:13, 202, 240;
  --bs-warning-rgb:255, 199, 44;
  --bs-danger-rgb:220, 53, 69;
  --bs-light-rgb:248, 249, 250;
  --bs-dark-rgb:13, 44, 84;
  --bs-tertiary-rgb:247, 249, 250;
  --bs-accent-rgb:0, 115, 230;
  --bs-primary-text-emphasis:#997404;
  --bs-secondary-text-emphasis:#031633;
  --bs-success-text-emphasis:#146c43;
  --bs-info-text-emphasis:#0aa2c0;
  --bs-warning-text-emphasis:#cc9a06;
  --bs-danger-text-emphasis:#b02a37;
  --bs-light-text-emphasis:#495057;
  --bs-dark-text-emphasis:#495057;
  --bs-primary-bg-subtle:#fff8e7;
  --bs-secondary-bg-subtle:#f7f9fa;
  --bs-success-bg-subtle:#d1e7dd;
  --bs-info-bg-subtle:#cff4fc;
  --bs-warning-bg-subtle:#fff8e7;
  --bs-danger-bg-subtle:#f8d7da;
  --bs-light-bg-subtle:rgb(98.6274509804%, 98.8235294118%, 99.0196078431%);
  --bs-dark-bg-subtle:#ced4da;
  --bs-primary-border-subtle:#fff8e7;
  --bs-secondary-border-subtle:rgb(62.0392156863%, 66.9019607843%, 73.1764705882%);
  --bs-success-border-subtle:#a3cfbb;
  --bs-info-border-subtle:#9eeaf9;
  --bs-warning-border-subtle:#ffe69c;
  --bs-danger-border-subtle:#f1aeb5;
  --bs-light-border-subtle:#e9ecef;
  --bs-dark-border-subtle:#adb5bd;
  --bs-white-rgb:255, 255, 255;
  --bs-black-rgb:0, 0, 0;
  --bs-font-sans-serif:"Plus Jakarta Sans", sans-serif;
  --bs-font-monospace:"DM Mono", monospace;
  --bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family:var(--bs-font-sans-serif);
  --bs-body-font-size:1.125rem;
  --bs-body-font-weight:400;
  --bs-body-line-height:1.5;
  --bs-body-color:#212529;
  --bs-body-color-rgb:33, 37, 41;
  --bs-body-bg:#fff;
  --bs-body-bg-rgb:255, 255, 255;
  --bs-emphasis-color:#000;
  --bs-emphasis-color-rgb:0, 0, 0;
  --bs-secondary-color:rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb:33, 37, 41;
  --bs-secondary-bg:#e9ecef;
  --bs-secondary-bg-rgb:233, 236, 239;
  --bs-tertiary-color:#212529;
  --bs-tertiary-color-rgb:33, 37, 41;
  --bs-tertiary-bg:#212529;
  --bs-tertiary-bg-rgb:33, 37, 41;
  --bs-heading-color:#0d2c54;
  --bs-link-color:#0073e6;
  --bs-link-color-rgb:0, 115, 230;
  --bs-link-decoration:underline;
  --bs-link-hover-color:#084298;
  --bs-link-hover-color-rgb:8, 66, 152;
  --bs-link-hover-decoration:none;
  --bs-code-color:#d63384;
  --bs-highlight-color:#212529;
  --bs-highlight-bg:rgb(100%, 95.137254902%, 80.5490196078%);
  --bs-border-width:1px;
  --bs-border-style:solid;
  --bs-border-color:#dee2e6;
  --bs-border-color-translucent:rgba(0, 0, 0, 0.175);
  --bs-border-radius:0.5rem;
  --bs-border-radius-sm:0.25rem;
  --bs-border-radius-lg:0.75rem;
  --bs-border-radius-xl:1rem;
  --bs-border-radius-xxl:1.5rem;
  --bs-border-radius-2xl:var(--bs-border-radius-xxl);
  --bs-border-radius-pill:50rem;
  --bs-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg:0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset:inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width:0.25rem;
  --bs-focus-ring-opacity:0.25;
  --bs-focus-ring-color:rgba(255, 199, 44, 0.25);
  --bs-form-valid-color:#198754;
  --bs-form-valid-border-color:#198754;
  --bs-form-invalid-color:#dc3545;
  --bs-form-invalid-border-color:#dc3545;
}

[data-bs-theme=dark]{
  --bs-body-color:#dee2e6;
  --bs-body-color-rgb:222, 226, 230;
  --bs-body-bg:#212529;
  --bs-body-bg-rgb:33, 37, 41;
  --bs-emphasis-color:#fff;
  --bs-emphasis-color-rgb:255, 255, 255;
  --bs-secondary-color:rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb:222, 226, 230;
  --bs-secondary-bg:#343a40;
  --bs-secondary-bg-rgb:52, 58, 64;
  --bs-tertiary-color:rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb:222, 226, 230;
  --bs-tertiary-bg:rgb(16.6666666667%, 18.6274509804%, 20.5882352941%);
  --bs-tertiary-bg-rgb:43, 48, 53;
  --bs-primary-text-emphasis:rgb(100%, 86.8235294118%, 50.3529411765%);
  --bs-secondary-text-emphasis:rgb(43.0588235294%, 50.3529411765%, 59.7647058824%);
  --bs-success-text-emphasis:rgb(45.8823529412%, 71.7647058824%, 59.7647058824%);
  --bs-info-text-emphasis:rgb(43.0588235294%, 87.5294117647%, 96.4705882353%);
  --bs-warning-text-emphasis:rgb(100%, 86.8235294118%, 50.3529411765%);
  --bs-danger-text-emphasis:rgb(91.7647058824%, 52.4705882353%, 56.2352941176%);
  --bs-light-text-emphasis:#f8f9fa;
  --bs-dark-text-emphasis:#dee2e6;
  --bs-primary-bg-subtle:rgb(20%, 15.6078431373%, 3.4509803922%);
  --bs-secondary-bg-subtle:rgb(1.0196078431%, 3.4509803922%, 6.5882352941%);
  --bs-success-bg-subtle:rgb(1.9607843137%, 10.5882352941%, 6.5882352941%);
  --bs-info-bg-subtle:rgb(1.0196078431%, 15.8431372549%, 18.8235294118%);
  --bs-warning-bg-subtle:rgb(20%, 15.6078431373%, 3.4509803922%);
  --bs-danger-bg-subtle:rgb(17.2549019608%, 4.1568627451%, 5.4117647059%);
  --bs-light-bg-subtle:#343a40;
  --bs-dark-bg-subtle:#1a1d20;
  --bs-primary-border-subtle:rgb(60%, 46.8235294118%, 10.3529411765%);
  --bs-secondary-border-subtle:rgb(3.0588235294%, 10.3529411765%, 19.7647058824%);
  --bs-success-border-subtle:rgb(5.8823529412%, 31.7647058824%, 19.7647058824%);
  --bs-info-border-subtle:rgb(3.0588235294%, 47.5294117647%, 56.4705882353%);
  --bs-warning-border-subtle:rgb(60%, 46.8235294118%, 10.3529411765%);
  --bs-danger-border-subtle:rgb(51.7647058824%, 12.4705882353%, 16.2352941176%);
  --bs-light-border-subtle:#495057;
  --bs-dark-border-subtle:#343a40;
  --bs-heading-color:inherit;
  --bs-link-color:rgb(100%, 86.8235294118%, 50.3529411765%);
  --bs-link-hover-color:rgb(100%, 89.4588235294%, 60.2823529412%);
  --bs-link-color-rgb:255, 221, 128;
  --bs-link-hover-color-rgb:255, 228, 154;
  --bs-code-color:rgb(90.3529411765%, 52%, 71.0588235294%);
  --bs-highlight-color:#dee2e6;
  --bs-highlight-bg:rgb(40%, 30.2745098039%, 1.0980392157%);
  --bs-border-color:#495057;
  --bs-border-color-translucent:rgba(255, 255, 255, 0.15);
  --bs-form-valid-color:rgb(45.8823529412%, 71.7647058824%, 59.7647058824%);
  --bs-form-valid-border-color:rgb(45.8823529412%, 71.7647058824%, 59.7647058824%);
  --bs-form-invalid-color:rgb(91.7647058824%, 52.4705882353%, 56.2352941176%);
  --bs-form-invalid-border-color:rgb(91.7647058824%, 52.4705882353%, 56.2352941176%);
  color-scheme:dark;
}

:root,
[data-bs-theme=light]{
  --bs-accent-bg-subtle:#ebf4fe;
  --bs-accent-text-emphasis:#212529;
}
